@page
@model IndexModel
@using MatBlazor;
@{
    ViewData["Title"] = "Home page";
}
<script src="_content/MatBlazor/dist/matBlazor.js"></script>
<link href="_content/MatBlazor/dist/matBlazor.css" rel="stylesheet" />
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div>
    @(await Html.RenderComponentAsync<EasyMinutesServer.Pages.Shared.Component.HyperLink>(RenderMode.ServerPrerendered, new { Text = "User Guide", Href = "/UserGuide" }))<br />
    @(await Html.RenderComponentAsync<EasyMinutesServer.Pages.Shared.Component.HyperLink>(RenderMode.ServerPrerendered, new { Text = "Video Tutorial", Href = "https://www.google.com" }))
</div>
<hr>
<div>
    @(await Html.RenderComponentAsync<EasyMinutesServer.Pages.Shared.Component.UnSubscriber>(RenderMode.ServerPrerendered, new ()))
</div>


