
@page "/UserGuide"
@model PrivacyModel
@{
    ViewData["Title"] = "User Guide for EasyMinutes";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>User Guide</title>
</head>
<body>
    <h1>@ViewData["Title"]</h1>
    <p>To follow. For now, please watch the video tutorial. Thanks</p>
</body>
</html>